
.main-page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
    position: relative;

        &__background-video-container{
            position: absolute;
            background-color: purple;
            height: 100vh;
            width: 100vw;
            z-index: -1;

            &__video{
                height: 100vh;
                width: 100vw;
                object-fit: cover;
            }
        }
}